/*general*/
html {
       box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/*============
clearfix !!!NOT APPLIED IN THIS PROJECT THANKS TO FLEX-BOX!!!
==============*/
/*.clearfix:before,*/
/*.clearfix:after {*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.clearfix:after {*/
    /*clear: both;*/
/*}*/

/*.clearfix {*/
    /*clear: both;*/
    /**zoom: 1;*/
/*}*/
body {
    background: url(images/body-background.jpg);
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*=========
  header
===========*/
header {
    background: #222;
    height: 50px;
    display: flex;
    justify-content: center;
}
.layout-wrap {
    width: 70%;
    /*margin: 0 auto;<=== done by flexbox given to body tag*/
}
header > .layout-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*header .layout-wrap a <===done by flexbox given to header > .layout-wrap{*/
    /*float: left;*/
/*}*/
 /*header .layout-wrap form {*/
    /*float: right;*/
/*}*/
 /*=============
 main section
 ===============*/
.page-body {
    background: rgba(0, 0, 0, 0.2);
    align-self: center;
}
/*==============
 top navigator(3 menu boxes )
 ===============*/
.notifications + nav {
    display: flex;

}
.nav-section {

    width: 30%;
    margin: 1.666% ;
    text-align: center;
}
/*================
   4 tabs boxes
 ===============*/
.tabs ul {
    display: flex;
}
.tabs li {
    /*float: left; <=== done by flexbox given to ul of these lis'*/
    width: 20%;
    margin: 2.5%;
}
.tabs div {
    width: 100%;
}