/*general*/
html {
       box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/*============
clearfix !!!NOT APPLIED IN THIS PROJECT THANKS TO FLEX-BOX!!!
==============*/
/*.clearfix:before,*/
/*.clearfix:after {*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.clearfix:after {*/
    /*clear: both;*/
/*}*/

/*.clearfix {*/
    /*clear: both;*/
    /**zoom: 1;*/
/*}*/
body {
    background: url(images/body-background.jpg);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
}
/*=========
  header
===========*/
header {
    background: #222;
    height: 50px;
    display: flex;
    justify-content: center;
}
.layout-wrap {
    width: 70%;
    /*margin: 0 auto;<=== done by flexbox given to body tag*/
}
header > .layout-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*header .layout-wrap a <===done by flexbox given to header > .layout-wrap{*/
    /*float: left;*/
/*}*/
 /*header .layout-wrap form {*/
    /*float: right;*/
/*}*/
 /*=============
 main section
 ===============*/
.page-body {
    background: rgba(0, 0, 0, 0.2);
    align-self: center;
    padding-top: 10px;
}
/*notification*/
.notifications {
    background: #ebebeb;
    height: 30px;
    margin: 0 1.666%;
}
/*==============
 top navigator(3 menu boxes )
 ===============*/
.notifications + nav {
    display: flex;

}
/*styling the 3 boxes*/
.nav-section {
    background: #222;
    color: rgb(240,240,240);
    width: 30%;
    margin: 1.666% ;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
/*styling of the red icons*/
.nav-section > p {
    font-size: 1.3rem;
}
.nav-section::after {
    content: '';
    display: inline-block;
    width:50%;
    height: 70px;
    order:2;
    align-self: center;
}
.nav-section:first-child::after {
    background:url(images/icons/action-report-new.png);
    background-repeat:no-repeat;
}
.nav-section:nth-child(2)::after{
    background: url(images/icons/action-report-top.png);
    background-repeat:no-repeat;
}
.nav-section:last-child::after {
    background: url(images/icons/actions-help.png);
    background-repeat:no-repeat;
}
.menu {
    background: #ebebeb;
    order:3;
}
.menu-hint {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.menu-hint p {
    color: #222;
    text-align: left;
    padding: 5px 6px;
    margin: 0;
    font-size: 0.9rem;
}
.menu ul {
    display: none;
}
.arrow {
    color: #222222;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
/*================
   4 tabs boxes
 ===============*/
.tabs ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}
.tabs li {
    /*float: left; <=== done by flexbox given to ul of these lis'*/
    width: 23%;
    margin: 1.666%;
    background: #646464;
    padding: 12px 5px;
    text-align: center;

}
.tabs li > a {
    color: rgb(240,240,240);
    font-size: 0.9rem;
}
.tabs li > a > i {
    font-size: 1.2rem;
    padding-right: 4px;
    vertical-align: bottom;
}

.tabs div {
    height: 200px;
    background: #ebebeb;
    margin: 0 1.666%;
    display: none;
}
.tabs :target {
   display: block;
}